@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
.page {
  padding: 40px 70px;
  border: 1px solid #dbd8d1;
  box-shadow: 3px 3px 3px #dbd8d1; }
  .page .chapter-title-section {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .page .chapter-title {
    line-height: 1.8em;
    border-bottom: 2px solid #2a2305; }
  .page .border-left,
  .page .border-right {
    width: 70px; }
  .page .border-right {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1); }
  .page .border-left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  .page .text {
    margin-bottom: 30px; }
  .page .image {
    text-align: center;
    margin-bottom: 20px; }
    .page .image img {
      width: 100%;
      max-width: 600px; }
  .page .choice-buttons {
    text-align: center; }
  .page .choice-buttons button {
    margin: 10px; }

@media (max-width: 700px) {
  .page {
    padding: 20px; }
    .page .text {
      margin-bottom: 20px; } }

.app-main {
  margin: 20px 250px;
  font-size: 1.3em;
  background-color: #f4eee2;
  color: #2a2305;
  font-family: 'Noto Serif JP', sans-serif; }

@media (max-width: 1200px) {
  .app-main {
    font-size: 1.2em;
    margin: 20px 100px; } }

@media (max-width: 700px) {
  .app-main {
    font-size: 1em;
    margin: 10px 30px; } }
