@import './chapter-title';
@import './choices';

.page {
  padding: 30px 70px;
  border: 1px solid #dbd8d1;
  box-shadow: 3px 3px 3px #dbd8d1;
  background-image: url('http://www.psd-dude.com/tutorials/resources-images/old-vintage-paper-textures-for-designers/grunge-paper-background-texture.jpg');
  background-size: cover;

  .text {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fdfaf5;
    border-radius: 3px;
  }

  .image {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 100%;
      max-width: 550px;
    }
  }
}

@media(max-width: $screen-width-small) {
  .page {
    padding: 20px;

    .text {
      margin-bottom: 20px;
    }
  }

}
